<?xml version="1.0" encoding="utf-8"?>
<!--
Zion High School Application for Android
Copyright (C) 2013 Youngbin Han<sukso96100@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.licubeclub.zionhs"
    android:versionCode="7"
    android:versionName="0.1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Zion_Material" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Appinfo"
            android:label="@string/info"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.licubeclub.zionhs.MainActivity" />
        </activity>
        <activity
            android:name=".Notices"
            android:label="@string/notices"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.licubeclub.zionhs.MainActivity" />
        </activity>
        <activity
            android:name=".Meal"
            android:label="@string/meal"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.licubeclub.zionhs.MainActivity" />
        </activity>
        <activity
            android:name=".Schoolinfo"
            android:label="@string/schoolinfo"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.licubeclub.zionhs.MainActivity" />
        </activity>
        <activity
            android:name=".Schedule"
            android:label="@string/schedule"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.licubeclub.zionhs.MainActivity" />
        </activity>
        <activity
            android:name=".Schoolintro"
            android:label="@string/schoolintro"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.licubeclub.zionhs.MainActivity" />
        </activity>


        <activity
            android:name=".Tutorial"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/Theme.Zion_Material" >
        </activity>
        <activity
            android:name=".Notices_Parents"
            android:label="@string/title_activity_notices__parents"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.licubeclub.zionhs.MainActivity" />
        </activity>
        <activity
            android:name=".Doc_Readme"
            android:label="@string/title_activity_doc__readme"
            android:parentActivityName=".Appinfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.licubeclub.zionhs.Appinfo" />
        </activity>
        <activity
            android:name=".Doc_Notices"
            android:label="@string/title_activity_doc__notices"
            android:parentActivityName=".Appinfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.licubeclub.zionhs.Appinfo" />
        </activity>
        <activity
            android:name=".Doc_Copying"
            android:label="@string/title_activity_doc__copying"
            android:parentActivityName=".Appinfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.licubeclub.zionhs.Appinfo" />
        </activity>
        <activity
            android:name=".Doc_Contributors"
            android:label="@string/title_activity_doc__contributors"
            android:parentActivityName=".Appinfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.licubeclub.zionhs.Appinfo" />
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
    </application>

</manifest>
